.bold-text,
.logo{
    display: none;
}
.main-text{font-family: 'Song Myung', serif;}

.bold-text{font-family: 'Song Myung', serif;}

#tab1:checked ~.container >.main-text,
#tab1:checked ~.container >.buttons>.next1{
    display:none;
}

#tab1:checked ~.container >.bold-text,
#tab1:checked ~ .container >.buttons>.next2{
    display:block;
    animation: bagApper 1.5s linear;
}

#tab2:checked ~.container >.bold-text,
#tab2:checked ~.container >.buttons>.next2{
    display:none;
}

#tab2:checked ~.container >.logo,
#tab2:checked ~.container >.buttons>a>.next3{
    display:block;
    animation: bagApper 1.5s linear;
}


.main-text{
    width:90%;
    max-width:350px;
    color:#333;
    font-size: 17.5px;
    user-select: none;
}
.bold-text{
    width:90%;
    max-width:350px;
    color:#333;
    font-size: 20px;
    user-select: none;
    text-align: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}
.background{
    position: absolute;
    z-index: -1;
    width: 250%;
    height: 250%;
    max-width: 600px;
    background: no-repeat center url('img/시작문구배경.png');
    background-size: contain;
    transition:1.5s;
}
.next1,
.next2,
.next3{
        width: 80px;
    height: 35px;
    background-color: rgb(255, 169, 169);
    border-radius: 11px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0px 1px 10px rgb(255, 223, 223,0.5);
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom:calc(50vw - 260px);
    right:calc(50vw - 53px);
}
.next2,
.next3{
    display: none;
}

@keyframes bagApper{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
a{
    text-decoration: none;
    color:#333;
   
    
    
}
#tab1,
#tab2,
#tab3{
    display: none;
}