.container{
    box-shadow:0 0 10px rgb(217, 185, 226);
    width:100%;
    height:90vh;
    max-width: 600px;
    margin:0 auto;  /*좌우중앙 정렬 */
    
}
.buttons{
    display: flex;
    border-bottom: 3px solid rgb(221, 201, 233);'
   
    
}
.buttons1,
.buttons2,
.buttons3,
.buttons4,
.buttons5,
.buttons6{
    display: block;
    flex: 1;
    height: 40px;
    background-color: rgb(227, 217, 255);
    font-weight:500px;
    user-select: none;
    text-align: center;
    line-height: 40px;
    transition: .5s;
}

#tab1:checked~.buttons > .buttons1,
#tab2:checked~.buttons > .buttons2,
#tab3:checked~.buttons > .buttons3,
#tab4:checked~.buttons > .buttons4,
#tab5:checked~.buttons > .buttons5,
#tab6:checked~.buttons > .buttons6{
    background-color: rgb(197, 141, 243);
    color: #fff
    
}

.content1,
.content2,
.content3,
.content4,
.content5,
.content6{
    width: 100%;
    height: 80%;
    padding: 30px 20px;
    font-size:13px;
    display: none;
}
#tab1:checked~.content1,
#tab2:checked~.content2,
#tab3:checked~.content3,
#tab4:checked~.content4,
#tab5:checked~.content5,
#tab6:checked~.content6{
    display: block;
}

.content1{
    background: no-repeat center url('img/학교상징1.png');
    background-size:contain;
}

.content6{
    background: no-repeat center url('img/학교상징8_교가.png');
    background-size:contain;
}
.symbol-title-box{
    border-bottom: 2px solid rgb(230, 212, 255);
    width: 90%
}
.symbol-title{
    line-height: 40px;
    width:150px;
    height:40px;
    background-color: rgb(230, 212, 255);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Song Myung';
}
.symbol-sub-title{
    font-size: 30px;
    color: rgb(126, 79, 255);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Song Myung';
}
.symbol-content{
    width:90%;
    font-size:15px;
}
.content3-name-box{
    border-bottom: 2px solid rgb(230, 212, 255);
    width: 90%
}
.content3-name{
    line-height: 40px;
    width:150px;
    height:40px;
    background-color: rgb(230, 212, 255);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 25px;
    font-weight: bold;}
    
